<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_money_container">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zpaycontainer"
        android:label="ZPay"
        android:roundIcon="@drawable/zpaycontainer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.PaymentGateway2"></activity>
        <activity android:name=".activities.PaymentIntegration" />
        <activity android:name=".activities.PaymentThirdPartyIntegration" />
        <activity android:name=".activities.PaymentDashboard" />
        <activity android:name=".activities.Profile" />
        <activity android:name=".activities.Security" />
        <activity android:name=".activities.GuideMe" />
        <activity android:name=".activities.ThankYou" />
        <activity android:name=".activities.Helps" />
        <activity android:name=".activities.SetupEmoneyContainer" />
        <activity android:name=".activities.PaymentGatewayContainer" />
        <activity android:name=".activities.AccountSaving" />
        <activity android:name=".activities.AccountUpdate" />
        <activity android:name=".activities.HistoryPaymentAccount" />
        <activity android:name=".activities.ConfirmPayment" />
        <activity android:name=".activities.Questions" />
        <activity android:name=".activities.PaymentGateway" />
        <activity android:name=".activities.Registers" />
        <activity android:name=".activities.Logins" />
        <activity android:name=".activities.ScreenSplash" />
        <activity android:name=".activities.Dashboards" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>